{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@nestjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@quickcart/*/(.*)$",
    "^_(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
